extends layout

block variables
  
  - var title = "The Tidy Squirrel"

block content
  #mainView.main
    #hContainer
      #menuIcon
        svg(viewbox='0 0 100 80' width='5vh' height='5vh')
          rect(width='100' height='15' rx='8')
          rect(y='30' width='100' height='15' rx='8')
          rect(y='60' width='100' height='15' rx='8')
      #menu.off
        #menuClose.closeButton
          ion-icon(name='close-outline')
        #menuItems
          ul
            li
              ion-icon(name='help-circle-outline')
              | FAQ
            li
              ion-icon(name='library-outline')
              | Manage Games
            li
              ion-icon(name='person-circle-outline')
              | My Account
            li
              ion-icon(name='information-circle-outline')
              | About
            li
              ion-icon(name='star-outline')
              | Get Premium
            if user
              li
                ion-icon(name='log-out-outline')
                a(href="/users/logout") Logout
      #menuCatch.clickCatcher.off
      .login
        
        if user
          | Hello, #{user.profile.firstName} 
        else 
          a(href="/users/login") Login
    #homeView.view
      .pageTitle The Tidy Squirrel 🐿️
      #joinButton.button.blueBtn Join
      #createButton.button.greyBtn Create
      #codeInputGroup.inputGroup.off
        #codeInputLabel.inputLabel Enter Code:
        #codeInput.textInputCont
          input.textInput(type='text')
          .textClear
        #codeSubmit.submitButton.button.blueBtn Submit
        #codeError.errorText.off Wrong code. Please try again.

    #codeView.view.off
      .pageTitle The Tidy Squirrel 🐿️
      #codeGroup
        #codeTitle Your Code:
        #code 
      #codeButtons
        #shareButton.clickable
          ion-icon(name="share-outline")
        #copyButton.clickable
          ion-icon(name="copy-outline")
        #copiedAlert Code copied to clipboard!
      #selectButton.submitButton.button.greenBtn Select Games

    #selectView.view.off
      #selectTitle.pageTitle Select Games 🐿️
      #selectCodeDisplay.codeDisplay Your Code:
      #addGamesContainer
        #addGamesTitle Add Games
        #addGamesInputCont.textInputCont
          input.textInput(type='text')#addGamesInput
          .textClear
      #selectLists
      #gameSubmit.button.greenBtn(type='submit')
        | Submit These Games
    
    #postSelectView.view.off
      #postSelectTitle.pageTitle Waiting... 🐿️
      #postSelectContainer

    #voteView.view.off
      #voteTitle.pageTitle Voting 🐿️
      #voteContainer

    #postVoteView.view.off
      #postVoteTitle.pageTitle Waiting... 🐿️
      #postVoteContainer


  #backAlert.off Press back one more time to leave the app
  #backArrow.off
    ion-icon(name="caret-back-outline")
  #listsContainer
  #sessionContainer
//-
  #report
    p name: #{appEnv.name}
    p port: #{appEnv.port}
    p bind: #{appEnv.bind}
    p urls: #{appEnv.urls}  
    p url: #{appEnv.url}
    p isLocal: #{appEnv.isLocal}
    p redirect_uri: #{redirect_uri}
