extends layout

block variables
  
  - var title = "SelectAGame"

block content
  #mainView.main
    #hContainer
      #menuIcon
        svg(viewbox='0 0 100 80' width='5vh' height='5vh')
          rect(width='100' height='15' rx='8')
          rect(y='30' width='100' height='15' rx='8')
          rect(y='60' width='100' height='15' rx='8')
      #menu.menu.off.left
        .menuHomeIcon
        #menuClose.closeButton
          ion-icon(name='close-outline')
        #menuItems.itemContainer
          ul
            li#sessionsItem
              ion-icon(name='color-filter-outline')
              | Sessions
            li#gamesItem
              ion-icon(name='library-outline')
              | Games and Lists
            li#accountItem
              ion-icon(name='person-circle-outline')
              | Account
            li#faqItem
              ion-icon(name='help-circle-outline')
              | FAQ
            li#aboutItem
              ion-icon(name='information-circle-outline')
              | About
            li#premiumItem
              ion-icon(name='star-outline')
              | Get Premium
            if user
              li#logoutItem
                ion-icon(name='log-out-outline')
                a(href="/logout")
                  | Logout
        #menuImg
      #menuCatch.clickCatcher.off
      .login
        
        if user
          .userNameContainer
            .userName
              span(onclick="$('.logout').toggleClass('flexCollapse')") Hello, #{username}
            .logout.flexCollapse
              a(href="/logout")  | logout
        else 
          a(href="/login") Login
    #homeView.view
      #mainImg
      .pageTitle SelectAGame
      .subTitle 
        p Choosing a board game is hard.
        p Why not have several woodland creatures help?
      #joinButton.button.blueBtn Join
      #createButton.button.greyBtn Create
      #codeInputGroup.inputGroup.off
        #codeInputLabel.inputLabel Enter Code:
        #codeInput.textInputCont
          input.textInput(type='text')
          .textClear
        #codeSubmit.submitButton.button.blueBtn Submit
        #codeError.errorText.off Wrong code. Please try again.

    #codeView.view.off
      .pageTitle SelectAGame
      .phraseDisplay
      #codeImg
      #codeGroup
        #codeTitle Your Code:
        #code 
      #codeButtons
        #shareButton.clickable
          ion-icon(name="share-outline")
        #copyButton.clickable
          ion-icon(name="copy-outline")
      #selectButton.submitButton.button.greenBtn Select Games

    #selectView.view.off
      #selectTitle.pageTitle Select Games
        .menuHomeIcon
      .phraseDisplay
      #selectCodeDisplay.codeDisplay Your Code:
      
      #addGamesContainer
        #addGamesTitle 
          .text Add Games:
          ion-icon(name="information-circle-outline")
          .tooltip Type the name of a game here to add it to the current session and your "All Games" list. Your "All Games" list contains every game you have added to your account. You may press the down arrow next to your All Games list to add and remove games from the current session. This feature is only available to logged in users.
        #addGamesInputCont.textInputCont
          form(onsubmit="return textSubmit('#addGamesInput')")
            input.textInput(type='text' autocomplete="off")#addGamesInput
            input.textSubmit(type='submit' value='')
      #hitMe.button.greenBtn(onclick='hitMe()')
        | Hit Me! 🎲
      #selectLists
      #gameSubmit.button.greenBtn(type='submit' value='')
        | Submit These Games
    
    #postSelectView.view.off
      #postSelectTitle.pageTitle Waiting...
      #postSelectImg
      .phraseDisplay
      #postSelectContainer
      #postSelectCodeDisplay.codeDisplay Your Code:

    #voteView.view.off
      #voteTitle.pageTitle Voting
        .menuHomeIcon
      .phraseDisplay
      #voteContainer
      #voteCodeDisplay.codeDisplay Your Code:

    #postVoteView.view.off
      #postVoteTitle.pageTitle Waiting...
      .phraseDisplay
      #postVoteContainer
      #postVoteCodeDisplay.codeDisplay Your Code:
      #postVoteImg
    
    #playView.view.off
      #playTitle.pageTitle Start Playing!
      .phraseDisplay
      #playInfo Here are the games your group selected, beginning with the game you want to play most!
      #playContainer
      #playCodeDisplay.codeDisplay Your Code:
      #playImg

    #sessionsView.pop.off
      #sessionsClose.closeButton
        ion-icon(name='close-outline')
      #sessionsTitle.pageTitle My Sessions
        .menuHomeIcon
      #sessionsContainer
      
    #gamesView.pop.off
      #gamesClose.closeButton
        ion-icon(name='close-outline')
      #gamesTitle.pageTitle Games and Lists
        .menuHomeIcon
      #gamesAdderTitle.off Add New
      ion-icon(name="add-circle-outline" onclick="toggleGamesAdder()")#addListButton
      #gamesContainer
      #gamesContextContainer.off
      #listContextContainer.off
    
    #accountView.pop.off
      #accountClose.closeButton
        ion-icon(name='close-outline')
      #accountTitle.pageTitle Account
        .menuHomeIcon
      #accountContainer
        if user
          #accountUsernameTitle.title Username
          #accountUsernameField.field #{username} 
            ion-icon(name="create-outline")
          #accountEmailTitle.title Email
          #accountEmailField.field #{email}
          #accountPwdResetTitle.title Password
          #accountPwdResetField.field
            button#pwdResetButton Reset Password
          #accountbggConnectTitle.title BoardGameGeek Account
          #accountbggConnectField.field
            button#bggConnectButton Connect
          #bggConnected

    #faqView.pop.off
      #faqClose.closeButton
        ion-icon(name='close-outline')
      #faqTitle.pageTitle FAQ
        .menuHomeIcon
      #faqContainer
        ul#faqList
          li.fq What is a Session?
          li.fa
            | Let's say you and your friends want to get together to play games. It's always hard to pick a game, so you fire up a session, share the link, and start adding games to it. A session is the place where you list games to play when you get together, and then vote on them to create your playlist.
          li.fq Where can I manage my lists?
          li.fa
            | In the menu (top left hand side on mobile), click "Games and Lists"
          li.fq How do I know if someone else already added the game I want to the session?
          li.fa
            | When you're working on a session, a blue "list" button will appear on the left side of the screen. Click it to see the games that have already been added to the session.

    #aboutView.pop.off
      #aboutClose.closeButton
        ion-icon(name='close-outline')
      #aboutTitle.pageTitle About
        .menuHomeIcon
      #aboutContainer
        p It's always hard to pick a board game when you get together to play with friends. This app takes the pressure off. Create a session, share the link with your friends, and you all can start adding games together.
        p Once you've picked your games, you'll be able to see who's still picking games and who's finished. Lock the list whenever you're ready.
        p The app will give the creator a final chance to edit the list, highlighting any potential duplicates due to typos, etc. Then, start the voting!
        p Once the creator has opened voting, everyone's screen will show the games and a slider to show how much (or how little) they're looking forward to playing each game. 
        p When everyone's done voting, reveal the playlist! Our advanced algorithm (OK, it just adds up the votes) will create a specially designed playlist just for your group!
        p For your convenience, this app includes list management and BoardGameGeek integration. Set up your collection however you want, and add whole groups of games with the click of a button!

    #premiumView.pop.off
      #premiumClose.closeButton
        ion-icon(name='close-outline')
      #premiumTitle.pageTitle Premium
      #premiumContainer 
        a(href="https://paypal.me/sweatysheep") I mean, sure, send me some money. You won't get any features for it, but I'm not going to stop you.
        #premiumLink
          a(href="https://paypal.me/sweatysheep") Click Here



  #copiedAlert Link copied to clipboard!
  #loginAlert Sign up or log in to use this feature
  #errorAlert
  #backAlert.off Press back one more time to leave the app
  #backArrow.off
    ion-icon(name="caret-back-outline")
  #listsContainer
  #sessionContainer
  #contextShadow.off
  #listPopup
    #listIcon.off
      ion-icon(name="reader-outline" onclick="showCurrentGames()")
      #listNotify
        span 0
    #currentGames.off
    #curGamesClose.closeButton.off(onclick="closeCurrentGames()")
      ion-icon(name="close-outline")
  .preloader
    svg(width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0")
      circle(cx="50" cy="50" r="4.719" fill="none" stroke="#1d3f72" stroke-width="2")
        animate(attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite")
        animate(attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite")
      circle(cx="50" cy="50" r="27.591" fill="none" stroke="#5699d2" stroke-width="2")
        animate(attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite")
        animate(attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite")
  #ver 
    | Version 0.3.7 | 
    a(href="http://www.freepik.com") Images designed by Freepik
    
    
//-
  #report
    p name: #{appEnv.name}
    p port: #{appEnv.port}
    p bind: #{appEnv.bind}
    p urls: #{appEnv.urls}  
    p url: #{appEnv.url}
    p isLocal: #{appEnv.isLocal}
    p redirect_uri: #{redirect_uri}
